In [1]:
import pandas as pd

**SMS SPAM DETECTION-CODSOFT**

In [2]:


# Assuming "spam.csv" is in the current working directory
df = pd.read_csv('spam.csv', encoding='latin1')

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

**DATA PREPROCESSING**

Remove the unwanted Columns

In [10]:
df.drop(columns=["Unnamed: 2","Unnamed: 3","Unnamed: 4"], axis=1, inplace= True)

In [4]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

**Rename the columns appropriately**

In [5]:
df.rename(columns={'v1':"label", "v2": "messages"}, inplace=True)
df.head()

,label,messages,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

**Rearrange the columns**

In [6]:
df= df[["messages","label"]]

In [7]:
df.head()

                                            messages label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [8]:
df.isna().sum()

messages    0
label       0
dtype: int64

In [10]:
df[df.duplicated()==True]

                                               messages label
102   As per your request 'Melle Melle (Oru Minnamin...   ham
153   As per your request 'Melle Melle (Oru Minnamin...   ham
206   As I entered my cabin my PA said, '' Happy B'd...   ham
222                              Sorry, I'll call later   ham
325                    No calls..messages..missed calls   ham
...                                                 ...   ...
5524  You are awarded a SiPix Digital Camera! call 0...  spam
5535  I know you are thinkin malaria. But relax, chi...   ham
5539                         Just sleeping..and surfing   ham
5553                        Hahaha..use your brain dear   ham
5558                             Sorry, I'll call later   ham

[403 rows x 2 columns]

**Remove the duplicates**

In [11]:
indexes= df[df.duplicated()==True].index
df.drop(indexes, axis=0, inplace=True)

In [12]:
df[df.duplicated()==True]

Empty DataFrame
Columns: [messages, label]
Index: []

**Convert the categorical values into numerical values**

In [14]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["label"] = encoder.fit_transform(df["label"])
df.head()

                                            messages  label
0  Go until jurong point, crazy.. Available only ...      0
1                      Ok lar... Joking wif u oni...      0
2  Free entry in 2 a wkly comp to win FA Cup fina...      1
3  U dun say so early hor... U c already then say...      0
4  Nah I don't think he goes to usf, he lives aro...      0

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df["messages"])
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [16]:
y = df["label"]

In [17]:
X.shape

(5169, 8672)

In [18]:
y.shape

(5169,)

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [20]:
X_train, X_test , y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=100)

In [22]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression(solver = "liblinear")
model.fit(X_train , y_train)
predictions = model.predict(X_test)

In [23]:
accuracy_score(y_test,predictions)

0.9806576402321083

In [24]:
def is_message_spam(message):
    vectorized_message = vectorizer.transform([message])
    if model.predict(vectorized_message) == 1:
        print("Spam!!!")
    else:
        print("Not spam")

In [30]:
is_message_spam("Congratulations,you have been selected for an internship at Codsoft")

Not spam

In [32]:
is_message_spam("Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry")

Spam!!!